@charset "utf-8";
/* ACCESSIBILITY skip-link */

.skip-link {
    position: absolute;
    top: -100px;
    left: 0;
    z-index: 1001;
}

.skip-link:focus {
    top: 0;
}

*:focus {
    outline: 0;
    box-shadow: 0 0 8px 5px rgba(255, 69, 0, 0.8);
}

body,
td,
th,
p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    color: #333333;
}

body {
    background-color: #fdfdfd;
    margin: 0;
    position: relative;
    min-width: 370px;
}

ul,
li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: #333333;
}

a {
    color: #ffa500;
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration: none;
}

a img {
    border: none 0px #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 0 20px;
}

aside,
details,
footer,
header,
menu,
nav,
section {
    display: block;
}

#maincontent {
    background-color: #f3f3f3;
    min-height: 100%;
    max-width: 1800px;
    margin: 0 auto;
}

#footer {
    background-color: #444444;
    color: #dbdbdb;
    font-size: 1.14em;
    letter-spacing: 1px;
    padding: 25px 0;
    text-align: center;
    text-transform: uppercase;
}

/* ====================== Navigation ====================== */

nav {
    width: 100%;
    height: 80px;
    background-color: #444444;
    text-align: center;
    display: flex;
    align-items: center;
}

nav h1 {
    margin: auto;
}

nav h1 a {
    color: #ffffff;
    font-size: 1em;
    font-weight: 200;
    letter-spacing: 0.4em;
    text-transform: uppercase;
}

nav h1 a:hover {
    color: #ffa500;
}

#map {
    height: 400px;
    background-color: #cccccc;
    width: 80%;
    margin: 0 auto;
  }
  
.red {
    color: red;
}