.form-container {
    max-width: 80%;
    margin: 0 auto;    
}
.form-item {
    margin: 30px 0;
}
.field-description {
    display: block;
}
#reviewer-name {
    width: 60%;
}
textarea {
    width: 60%;
    min-height: 150px;
}